# pipeline.conf
*.conf

# code_tips personal
code_tips

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Notebook
notebooks/

# C extensions
*.so

# Venv
.venv/

# Env
.env

# pytest
.pytest_cache/
htmlcov/

# ruff
.ruff_cache/

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Outputs
data/output/

# Poetry
*.lock

# MacOS
**/.DS_Store

# Logs
*.jsonl

# Excalidraw
diagrams/*.excalidraw